* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: Tahoma,"Roboto Condensed";
    font-weight: 400;
    margin: auto;

}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    /* background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); */
    background-color: transparent;
    backdrop-filter: blur(20px);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    margin-block: 5vh;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

header  {
    position: fixed;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    color: #A7A4A3;
    z-index: 99;
    width: 100%;
    height: 66px;
    background-color: rgba(17, 17, 17, 0.75);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
    font-size: 14px;
    font-weight:lighter;
}

.header-logo img {
    width: 75px;
    animation: grayfilter 2s infinite;   
}

.hamburger {
    display: none;
}

.hamburger-button {
    background: none;
    border: none;
}

.hamburger-button img {
    width: 46px;
    filter: drop-shadow(0px 0px 5px #69e0ff);
}

.header-signup {
    display: flex;
    column-gap: 4px;
    justify-content: end;
    margin-block: 0;
    height: 100%;

}

.header-login {
    align-self: center;
}

.button-login img:hover {
    filter: drop-shadow(0px 0px 5px #69e0ff);
}

nav ul{
    display: flex;
    column-gap: 15px;
    list-style: none;
   
}

li > a {
    text-decoration: none;
    color:#A7A4A3;
}

li > a:hover {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: #FFFFFF;
    
}

.button-login {
    background: none;
    border: none;
    color: #A7A4A3;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    cursor: pointer;
    font-size: 14px;
}

.button-login img {
    margin-left: 18px;
    width: 27px;
    height: 27px;
    
}

.button-login:hover {
    color: #FFFFFF;
    text-shadow: 0 0 10px #1ADE60, 0 0 20px #1ADE60, 0 0 40px #1ADE60;
}

.header-download {
    margin-block: 0;
    background-color: #060C12;
    color: #A7A4A3;
    border: none;
    width: 130px;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

.header-download a {
    text-decoration: none;
    color: #FFFFFF;
}

.header-download:hover {
    background-color: #151b20;
    color: #FFFFFF;
    font-weight: bold;
}
main {
    justify-content: center;
    background-color: #151D2D ;
    
}
.bgvideo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}    
.bgvideo img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.bgvideo picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bgvideo video {
    display: none;
    width: 100%;
    object-fit: cover;
    height: 100%;

}
.home-title {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    left: 0;
    z-index: 9;
 
}
.home-title .container{
    width: 350px;
    margin-inline: 8%;
    color: white;
    text-shadow: 3px 3px 4px #000000;
}
.container h1 {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.news {
    background-image: url(/Assets/bgr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.news h2 {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 24px;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 400;
}

.container-news {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding-bottom: 124px;
    
}
.slides-image {
    width: 640px;
    height: 400px;
}

.slides-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dot-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    display: inline-block;
    background-color: #ffffff00;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 0 4px;
    transition: background-color 0.6s ease
}

.active, .dot:hover {
    background-color: #FFFFFF;
}




.container-news .carousel-container {
    position: relative;
    width: 40%;
    overflow: hidden;
    
}


.container-news .news-list {
    
    width: 40%;
    overflow: hidden;
    min-width: 300px;
    background:rgba(24, 25, 47, 0.35);
    backdrop-filter: blur(20px);
    padding: 24px 8px;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    
}

.news-list h3{
    font-size: 1.05rem;
    font-weight: 300;
    border-bottom: 2px solid rgba(255, 255, 255, 0.08);
}

.news-list .news-title {
    
    font-size: 0.8rem;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 11px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.08);
    
}

.news-list a {
    padding-block: 6px;
    text-decoration: none;
    color: #A7A4A3;
    font-size: 0.8rem;
    text-align: end;
}

.news-list a:hover {
    color: #FFFFFF;
    text-shadow: 0 0 10px #1ADE60, 0 0 20px #1ADE60, 0 0 40px #1ADE60;

}

.news-title:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.news-date {
    font-weight: 100;
    color: #A7A4A3;
}

#try {
    margin-top: 8px;
    background-image: url(/Assets/56db53ef6fc2e6e7ba9b14951c2bba52_3932623017839375891.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 175px;
    height: 36px;
    background-color: rgba(76, 50, 50, 0.26);
    border: none;
    border-radius: 20px;
    color: #734109;
    font-weight: 600;

}

#try:hover {
    background-color: #F3CB72;
}

.games{
    padding-block: 56px;
}
.games h2 {
    margin-block: 32px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
}

.games-button {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}
.games button {
    width: 200px;
    height: 46px;
    background-color: #060C12;
    color: #A7A4A3;
    border: none;
    border-radius: 50px;
    cursor: pointer;
   
}

.games button:hover {
    background-color: #263450;
    color: #FFFFFF;
    font-weight: bold;
}
.container-games {
    display: flex;
    flex-wrap: wrap;
    /* position: relative; */
    justify-content: center;
    gap: 32px;    
    
    
}
.card-games {
    border-radius: 8px;
    width: 15%;
    min-width: 200px;
    margin-bottom: 32px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    /* transition: 0.3s; */

}

.card-games h3 {
    height: 52px;
    color:#FFFFFF;
}

.card-games p {
    color: #A7A4A3;
    font-family: "Roboto Condensed" ;
    font-weight:500;
}

.card-games img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: 0.5s;
}

.card-games-info-container {
    padding: 2px 16px;
}

.card-games img:hover {
    transform: scale(1.075);
}

.card-games h3,p {
    margin-block:6px ;
}
.container-console {
    display: flex;
    column-gap: 12px;
}

.card-games .image-console {
    width: 22px;
    height: 22px;
    margin: 0px;
    

}

.card-games video {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: 0.5s;

}

.card-games video:hover {
    transform: scale(1.05);
    
}
footer {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}
.footer-container {
    width: 80vw;
    display: inline-block;
}

.footer-container div {
    margin: 32px 0;
    font-size: 0.75rem;
    color: #A7A4A3;
}

.wraper {
    display: flex;
    justify-content: center;
    gap: 32px;
    

}

.wraper a {
    text-decoration: none;
    color:#A7A4A3;
}

.wraper a:hover {
   color: #FFFFFF;
}

.image-logo img {
    width: 200px;
}


form span {
    font-weight: bolder;
    font-family: Helvetica;
    color: #f1f1f1;
}

input[type=email] {
    width: 200px;
    height: 32px;
    padding: 8px 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password]{
    width: 200px;
    height: 32px;
    padding: 8px 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label{
    font-size: 0.8rem;
    color: #ffffff;
}


form button {
    width: 100px;
    height: 32px;
    margin-block: 8px;
    background-color: #060C12;
    color: #ffffff;
    border-radius: 8px;
    border: none;
}

.registerButton {
    background-color: #0566B0;
}

.registerButton :hover {
    background-color: #263450;
}

form button:hover {
    background-color: #263450;
}

@keyframes grayfilter{
    0%   {filter: grayscale(100%);}
    100% {filter: grayscale(0%);}
    
}


@media screen and (max-width: 767px) {
    .hamburger {
        display: block;
    }
    .header-nav {
        display: none;
    }
    .header-download {
        display: none;
    }
    .home-title {
        align-items: center;
        text-align: center;
    }
    
    .container p{
        width: 90%;
        margin: auto;
    }
    
    .container-news {
        flex-direction: row;
    }

    .container-news .carousel-container {
        width: 90%;
        margin: auto;
    }

    .carousel-container .slides-image {
        width: 100%;
    }

    .container-news .news-list {
        width: 90%;
        margin:auto;
    }

    main {
        overflow: scroll;
    }

    .wraper {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .hamburger {
        display: block;
    }
    .header-nav {
        display: none;
    }
    .header-download {
        display: none;
    }
    .container-news {
        flex-direction: row;
    }

    .container-news .carousel-container {
        width: 90%;
        margin: auto;
    }

    .carousel-container .slides-image {
        width: 100%;
    }

    .container-news .news-list {
        width: 90%;
        margin:auto;
    }

    

}

